<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipes</title>
</head>
<body>
    <div class="container1">
        <section>
            <h1>
                Template - HOME de recipes
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laboriosam nemo porro ea dolores iusto. Voluptatibus dolore pariatur beatae mollitia quisquam molestias nulla veritatis, ea corrupti sint ullam optio necessitatibus?
            </p>
        </section>
    </div>
</body>
</html>